.searchBar {
	align-items: center;
	background-color: var(--input-bg);
	border: 1px solid var(--border);
	border-radius: 0.5rem;
	box-shadow: 0 10px 15px -3px var(--shadow);
	display: flex;
	gap: 0.5rem;
	padding: .25rem .5rem;


	&.input-focused {
		border-color: #4f46e5;
		outline: 2px solid #4f46e5;
	}

	svg {
		color: var(--text-muted);
		flex-shrink: 0;
	}

	input[type="search"] {
		background: transparent;
		border: none;
		color: var(--text-primary);
		flex: 1;
		font-family: inherit;
		font-size: 1rem;
		outline: none;
		padding: 0.75rem 0.5rem;

		&::placeholder {
			color: #64748b;
		}
	}
}
