.homeSection {
	background-color: var(--background);
	padding-inline: 1rem;
	padding-top: 2rem;

	header {
		align-items: center;
		background: var(--background);
		border-bottom: 1px solid var(--border);
		display: flex;
		flex-direction: column;
		gap: 2px;
		justify-content: space-between;
		padding: .5rem 1rem;

		h2 {
			color: var(--text-primary);
			font-size: 1.875rem;
			font-weight: 700;
			margin-bottom: 1rem;
		}
	}
}

