.jobsSearch {
	align-items: center;
	display: flex;
	height: auto !important;
	flex-direction: column;
	margin: 0;
	margin-top: 2rem;
	padding: 0;
	text-align: center;

	h1 {
		font-size: 2.5rem;
		margin-bottom: .25rem;
	}

	p {
		color: var(--text-muted);
		font-size: 1.125rem;
		margin-bottom: 1.5rem;
	}

	form {
		max-width: 1280px;
		width: 100%;
	}
}
