.jobsSearch {
	align-items: center;
	display: flex;
	height: auto !important;
	flex-direction: column;
	margin: 2rem auto 0 auto;
	max-width: 1280px;
	padding-inline: 1rem;
	text-align: center;
	width: 100%;

	h1 {
		font-size: 2.5rem;
		margin-bottom: .25rem;
	}

	form {
		display: flex;
		flex-wrap: wrap;
		column-gap: 1rem;
		row-gap: 1rem;
		max-width: 1280px;
		width: 100%;

		&>div:first-child {
			flex: 1 1 100%;
		}
	}

	& .inputHint {
		color: var(--text-muted);
		display: block;
		flex: 1 1 100%;
		margin-top: 0.25rem;
		font-size: 1rem;
	}
}
