.card {
	background-color: var(--card-bg);
	border-radius: 0.5rem;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
	margin-bottom: 16px;
	padding: 2rem;
	text-align: center;

	svg {
		background: rgba(0, 153, 255, .3);
		border-radius: 100%;
		color: var(--primary-light);
		height: 64px;
		padding: 1rem;
		width: 64px;
	}

	h3 {
		font-weight: 500;
	}

	p {
		color: var(--text-muted);
	}
}
