.select {
	appearance: none;
	background-color: var(--input-bg);
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"/%3E%3C/svg%3E');
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	border: 0;
	border-radius: .5rem;
	color: var(--text-primary);
	cursor: pointer;
	font-family: inherit;
	font-size: 1rem;
	padding: 0.625rem 1.25rem;
	padding-right: 2.5rem;
	transition: all .2s;

	&:focus {
		outline: 2px solid var(--primary-light);
		outline-offset: 2px;
	}

	&:hover {
		background-color: var(--primary-hover);
		color: white;
	}
}
