.hero {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 500px;
	justify-content: center;
	text-align: center;

	h1 {
		align-items: center;
		display: flex;
		font-size: 1.5rem;
		gap: 0.5rem;
		line-height: 1.5;
		text-wrap: balance;
	}

	p {
		margin-bottom: 2rem;
		text-wrap: balance;
	}

	&>img {
		height: 100%;
		left: 0;
		mask-image: linear-gradient(to bottom, rgba(16, 25, 34, 1) 5%, rgba(16, 25, 34, 0) 80%);
		object-fit: cover;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: -1;
	}

	& input {
		background: transparent;
		border: none;
		color: var(--text-primary);
		flex: 1;
		font-family: inherit;
		font-size: 1rem;
		outline: none;
		padding: 0.75rem 0.5rem;

		&::placeholder {
			color: #64748b;
		}
	}

	.search {
		margin: 0 auto;
		max-width: 42rem;
		padding-inline: 1rem;
		width: 100%;
	}

	.searchBar {
		align-items: center;
		background-color: var(--input-bg);
		border-radius: 0.5rem;
		box-shadow: 0 10px 15px -3px var(--shadow);
		display: flex;
		gap: 0.5rem;
		padding: 0.5rem;

		svg {
			color: var(--text-muted);
			flex-shrink: 0;
		}
	}
}
