.searchFilters {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 1rem;

	.formGroup {
		display: flex;
		gap: 0.5rem;

		label {
			cursor: pointer;
			pointer-events: all;
		}

		&.flex-col {
			align-items: flex-start;
			flex-direction: column;
		}

		.dropdownButton {
			background-color: var(--input-bg);
			background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"/%3E%3C/svg%3E');
			background-position: right 0.5rem center;
			background-repeat: no-repeat;
			padding-right: 2.5rem;
		}
	}
}
