.dropdown {
	align-items: flex-start;
	background-color: var(--input-bg);
	border-radius: .5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	position: absolute;
	width: max-content;
	z-index: 1;
}
