.header {
	align-items: center;
	background: var(--background);
	border-bottom: 1px solid var(--border);
	display: flex;
	justify-content: space-between;
	min-height: 75px;
	padding: .5rem 1rem;

	& > a {
		color: white;
		text-decoration: none;
	}

	h1 {
		align-items: center;
		display: flex;
		font-size: 1.5rem;
		gap: 0.5rem;
		line-height: 1.5;
		text-wrap: balance;
	}

	svg {
		color: var(--primary-light);
		height: 2rem;
		width: 2rem;
	}
}
