@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #3b4550;
  --primary-dark: #0a3d66;
  --primary-hover: #0d5ba8;
  --primary-light: #09f;
  --background: #06182a;
	--bg-success: #4caf50;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
  --border: rgba(255, 255, 255, 0.1);
  --card-bg: #1e293b;
  --input-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --hsla-example: hsla(210, 100%, 56%, 1);
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  font-family: 'Inter Variable', system-ui, -apple-system, Arial, sans-serif;
	font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
}

p {
	font-size: 1rem;
}

.max-w-4xl {
	max-width: 56rem;
}

.ml-auto {
	margin-left: auto;
}

.mx-auto {
	margin-inline: auto;
}

.mb-2 {
	margin-bottom: 2rem;
}

.hidden {
	display: none !important;
	pointer-events: none !important;
	visibility: hidden !important;
}

.sr-only {
	border-width: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
