.nav {
	align-items: center;
	display: flex;
	gap: 1rem;

	a {
		color: var(--text-secondary);
		font-weight: 500;
		text-decoration: none;
		transition: color 0.2s;

		&:hover,
		&:focus {
			color: var(--primary);
			outline: none;
		}

		&.active {
			color: var(--primary-light);
			font-weight: 700;
		}
	}
}
