.userLinks {
	align-items: center;
	display: flex;
	gap: 0.5rem;

	a {
		background-color: rgba(0, 153, 255, .3);
		color: var(--primary-light);
		transition: color 0.2s;

		&:first-child {
			background-color: rgba(0, 153, 255, .3);
			border-radius: 0.5rem;
			color: var(--primary-light);
			display: inline-block;
			font-size: 0.875rem;
			font-weight: 700;
			padding: 0.5rem 1rem;
			text-decoration: none;
		}

		&:last-child {
			align-items: center;
			background: none;
			display: flex;
			justify-content: center;
		}
	}
}
