.header {
	align-items: center;
	background: var(--background);
	border-bottom: 1px solid var(--border);
	display: flex;
	justify-content: space-between;
	min-height: 75px;
	padding: .5rem 1rem;

	h2 {
		color: var(--text-primary);
		font-size: 1.25rem;
		font-weight: 700;
	}
}
